* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.hide {
    visibility: hidden;
    
}