<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav-Bar-2</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <nav>
        <p>LOGO</p>
        <ul>
            <li><a href="#">Home</a></li>
            <li class="dropdown"><a href="#">Services</a>
                <div class="drop-children">
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">UI/UX Design</a></li>
                </div>
            </li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </nav>
</body>
</html>