<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav-Bar Template</title>
    <link type="text/css" rel="stylesheet" href="./style.css">
</head>
<body>
    <nav>
        <h2>LOGO</h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Abou Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <div class="parent">
        <div class="body">
            <img src="./img/theprotonguy.jpg">
        </div>
    </div>
    <p class="greetings">Greetings from THE PROTON GUY</p>
</body>
</html>